.content-sec{
    width: 100%;
    padding: 20px;
    margin-top: 70px;
    display: flex;
    row-gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.content{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-light);
    height: 400px;
    width: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: var(--text);
    font-weight: 600;
    font-size: 40px;
}

.content > p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-standard);
}

