.content-sec{
    width: 100%;
    padding: 20px;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-light);
    height: 500px;
    width: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: var(--text);
    font-weight: 600;
    font-size: 40px;
    padding: 10px;
}

.lower-content{
    position: relative; 
    top: 250px;
    background-color: var(--bg-dark);
    height: 50%;
}