input[type=checkbox]{
  background-color: var(--info);
  border: 1px solid var(--border);
  cursor: pointer;
  border-radius: 25%;
}

input[type=checkbox]:checked{
  background-color: var(--info);
  border: 1px solid var(--border);
  cursor: pointer;
}

input[type=checkbox]:focus{
  box-shadow: none;
  border: 1px solid rgb(143, 79, 143);
}

.a-button,
.a-button:focus,
.a-button:active,
.a-button:not(.collapsed){
  background-color: var(--bg); 
  box-shadow: none; 
  color: var(--text-standard); 
}

.accordion-body{
  background-color: var(--bg);
  opacity: 100%;
  color: var(--text-standard);
}

.new-search{
  width: 20%;
  position: relative;
}

@media (max-width: 1000px){
  .new-search{
    display: none;
  }
}
