
  .ride-card-normal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--panel-bg);
    position: relative;
    overflow: hidden;
    color: var(--text);
    width: 45%;
    min-height: 50px;
    height: 5%;
    flex-wrap: wrap;
    cursor: pointer;
  }


  .ride-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    min-width: 200px;
  }

  .ride-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    color: var(--text-muted);
  }

  .tag {
    background-color: var(--highlight);
    border: 1px solid var(--border);
    border-radius: 9999px;
    padding: 4px 10px;
    font-size: 0.75em;
    backdrop-filter: blur(3px);
  }

  .wait-time {
   font-size: 40px;
   font-weight: 600;
  }

 

 

 

 