  .ride-card-normal {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-radius: 10px;  
    background-color: #fff;
    position: relative;
    overflow: hidden;
    color: var(--bg);
    width: 35%;
    min-height: 70px;
    height: 200px;
    flex-wrap: wrap;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }


  .ride-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: 100%;
  }

  .park-name{
    font-size: 12px;

  }

  .ride-name {
    font-size: 1.2em;
    font-weight: 500; 
    /*
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */
  }

  .tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    color: var(--text-muted);
  }

  .tag {
    border-radius: 9999px;
    padding: 4px 10px;
    font-size: 0.75em;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .wait-time {
   font-size: 50px;
   font-weight: 600;
  }

 
@media (max-width: 1000px) {
  .ride-name{
    font-size: 1rem;
  }
}
 

 

 